<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.771175078095-ufeguqsd10jjban23t5hjln6nclt39ur</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Broccoli Stripe Payment</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>broccoli</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>771175078095-ufeguqsd10jjban23t5hjln6nclt39ur.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Figtree-Black.ttf</string>
		<string>Figtree-Bold.ttf</string>
		<string>Figtree-BlackItalic.ttf</string>
		<string>Figtree-BoldItalic.ttf</string>
		<string>Figtree-ExtraBold.ttf</string>
		<string>Figtree-ExtraBoldItalic.ttf</string>
		<string>Figtree-Italic.ttf</string>
		<string>Figtree-Light.ttf</string>
		<string>Figtree-LightItalic.ttf</string>
		<string>Figtree-Medium.ttf</string>
		<string>Figtree-MediumItalic.ttf</string>
		<string>Figtree-Regular.ttf</string>
		<string>Figtree-SemiBold.ttf</string>
		<string>Figtree-SemiBoldItalic.ttf</string>
	</array>
</dict>
</plist>
